<!DOCTYPE html>
<html>
	<head>
		<title>IOT - THC</title>
		<style>
			.interItems {
				text-align: center;
			}
			.interactiveButtons {
				padding: 2em;
				display: flex;
			    justify-content: center;
			    align-items: center;
			    height: 200px;
			}
			.onButton {
				width: 10em;
				height: 10em;
			}
			.offButton {
				width: 10em;
				height: 10em;
			}
		</style>
	</head>
	<body>
		<div class='interItems'>
			<h1>THC - Panel</h1>
				<a red="get" href="/mixer/red">RED</a>
				<a red="get" href="/mixer/green">GREEN</a>
				<a red="get" href="/mixer/blue">BLUE</a>
				<br>
				<a red="get" href="/mixer/off">OFF</a>
				<br><br>
				<a red="get" href="/mixer/disconnect">Disconnect</a>


	</body>
</html>
